@media screen and (max-width: 1015px) {
    .offer__list-item {
        grid-template-columns: 1fr 1fr;
    }
    .sidebar {
        width: 410px !important;
        margin: 2px;
    }
    .main-container {
        margin-left: 220px;
    }
}

/* Para telas menores que 768px */
@media screen and (max-width: 768px) {
    .offer__list-item {
        grid-template-columns: 1fr;
    }
    .header__search {
        width: 100%;
    }
    .playlist-container {
        display: flex;
        width: 100%;
        margin-left: 5px !important;
        margin-top: 5px;
        padding: 10px;
    }


    .artist-card {
        flex-direction: column;
    }

    .disclaimer-premium {
        display: none;
    }

    .header__login {
        display: none;
    }

}

/* Para telas menores que 480px */
@media screen and (max-width: 480px) {
    .header__navigation {
        flex-direction: column;
        align-items: flex-start;
    }
    .header__search {
        margin-left: 0;
        margin-bottom: 10px;
    }
    .sidebar {
        width: 100%;
        position: relative;
    }
    .main-container {
        margin-left: 0;
        margin-right: 0;
    }
    .offer__list-item {
        grid-template-columns: 1fr;
    }

    .disclaimer-premium {
        display: none;
    }

    .header__login {
        display: none;
    }
}